@use '/src/MyShit.scss';

.Main{
    .Main-Content{
        transition: all 1s;
        aspect-ratio: 3 / 2;
        

        border: 5px solid #000;
        border-radius: 45px;

        @include MyShit.s{
            height: 15em;
            margin: 0;
        }
        @include MyShit.m{
            height: 25em;
            margin: 1em;
        }
        @include MyShit.l{
            height: 30em;
            margin: 2em;
        }
        .Main-Video{
            transition: all 1s;
            aspect-ratio: 3 / 2;
            @include MyShit.s{
                height: 15em;
                border-radius: 40px;
            }
            @include MyShit.m{
                height: 25em;
            }
            @include MyShit.l{
                height: 30em;
            }
        }
    }
}