@use '/src/MyShit.scss';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Permanent+Marker&family=Russo+One&display=swap');

.Navbar{
    transition: 1s ease;
    display: flex;
    right: -2px;
    position: fixed;
    z-index: 1;
 
    @include MyShit.s{
        top: 11em;
    }
    @include MyShit.m{
        top: 15.75em;
    }
    @include MyShit.l{
        top: 16em;
    }

    .Navbar-gsap{
        display: flex;
        border: 2px solid #000;
        background-color: #fff; 
        border-radius: 36px 0 0 36px;
        align-items: center;

    @include MyShit.s{
        padding: 0 55px 0 10px;
    }
    @include MyShit.m{
        padding: 0 20px 0 20px;
    }
    @include MyShit.l{
        padding: 0 20px 0 20px;
    }
        ul{
            transition: 1s ease;
            display: flex;

            @include MyShit.s{
                gap: 30px;
            }
            @include MyShit.m{
                gap: 30px;
            }
            @include MyShit.l{
                gap: 30px;
            }
            

            li{
                @include MyShit.hover-scale1;
                list-style: none;
                cursor: pointer;
                color: #000;
                z-index: 99;

                font-family: 'Lora', serif;

                @include MyShit.s{
                    font-size: 18px;
                }
                @include MyShit.m{
                    font-size: 25px;
                }
                @include MyShit.l{
                    font-size: 25px;
                }
            }
        }
    }


        
    
}